include ./head.pug
link(rel="stylesheet" href="../kiwibot.css" crossorigin="anonymous")
body
    div(class="container")
        div(class="container-fluid")
            div(id="messages")
                if flash.error
                    div(class="alert alert-danger" role="alert") #{flash.error}
                if flash.warning
                    div(class="alert alert-warning" role="alert") #{flash.warning}
                if flash.success
                    div(class="alert alert-success" role="alert") #{flash.success}
                if auth_error
                    div(class="alert alert-warning" role="alert") #{auth_error}

        div(class="row")
            div(class="col")
                h2 Mad.Kiwi Bawt Page
                p dick long long long.
    script(type="text/javascript" src="../kiwibot.js")