include ./head.pug
link(rel="stylesheet" href="../bspace.css" crossorigin="anonymous")
body
    canvas(id="mainCanvas" class="canvasClass" width="854" height="480")
    script(type="text/javascript" src="../bspace.js")