include ./head.pug
link(rel="stylesheet" href="../shoutout.css" crossorigin="anonymous")
body
    div(id="shoutout")
        canvas(id="shoutCanvas" width="1280px" height="720px")
    script(type="text/javascript" src="../shoutout.js")