doctype html
html(lang="en")
    head
        title Madkiwi Twitch Auth Page
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="../rootpage.css" crossorigin="anonymous")
    body
        div(class="container")
            h2 Madkiwi's Overlays
            ul
            p You do not have permission to access these.