doctype html
html(lang="en")
    head
        title Twitch Game
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="../twitchgame.css" crossorigin="anonymous")
        script(type="text/javascript" src="/socket.io/socket.io.js" crossorigin="anonymous")
    body
        canvas(id="gameContainer" class="gameContainerClass" width="854" height="480")
        script(type="text/javascript" src="../twitchgame.js" crossorigin="anonymous")