doctype html
html(lang="en")
    head
        title Twitch webhooks
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        script(type="text/javascript" src="/socket.io/socket.io.js" crossorigin="anonymous")
    body
        script(type="text/javascript" src="../webhooks.js" crossorigin="anonymous")